
@media(min-width: 720px){
    .productos-panaderia-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 30px; /**40**/
    padding: 10px 0;
    
    }
}

@media(min-width: 960px){
    .productos-panaderia-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 30px; 
    padding: 10px 0;
    
    }
}

@media(min-width: 1140px){
    .productos-panaderia-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 30px; 
    padding: 10px 0;
    
    }
}


/*
.productos-panaderia-grid > .product-item  {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 250px;
}*/



